absl-py==1.4.0
accelerate==0.22.0
aiohttp==3.8.4
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.3.1
alembic==1.12.0
altair==5.0.1
anyio==3.6.2
appdirs==1.4.4
argilla==1.9.0
asgiref==3.7.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
Authlib==1.2.1
autoscraper==1.1.14
awscli==1.29.52
azure-ai-formrecognizer==3.3.0
azure-common==1.1.28
azure-core==1.29.4
backoff==2.2.1
bcrypt==3.1.7
beautifulsoup4==4.12.2
beir==0.2.3
blessed==1.20.0
blinker==1.6.2
boilerpy3==1.0.6
boto3==1.28.43
botocore==1.31.52
Brlapi==0.7.0
bs4==0.0.1
cachetools==5.3.1
canals==0.8.0
cattrs==23.1.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.23
click==8.0.4
clickhouse-connect==0.5.24
cloudpickle==2.2.1
cmake==3.26.3
colorama==0.4.4
colorclass==2.2.2
coloredlogs==15.0.1
colorful==0.5.5
commonmark==0.9.1
compressed-rtf==1.0.6
contourpy==1.1.0
cryptography==41.0.1
cupshelpers==1.0
cycler==0.11.0
databricks-cli==0.17.7
dataclasses-json==0.5.7
dbus-python==1.2.16
decorator==5.1.1
defer==1.0.6
Deprecated==1.2.14
distlib==0.3.7
distro==1.4.0
distro-info==0.23+ubuntu1.1
dnspython==2.4.2
docker==6.1.3
docopt==0.6.2
docutils==0.16
duckdb==0.8.0
duplicity==0.8.12.0
easygui==0.98.3
ebcdic==1.1.1
elastic-transport==7.16.0
elasticsearch==7.17.9
entrypoints==0.3
environs==9.5.0
et-xmlfile==1.1.0
Events==0.5
exceptiongroup==1.1.1
extract-msg==0.41.1
faiss-cpu==1.7.2
# Editable install with no version control (farm-haystack==1.21.0rc0)
-e /home/alberto/lab/haystack
fastapi==0.95.2
fasteners==0.14.1
ffmpeg-python==0.2.0
filelock==3.12.3
Flask==2.2.5
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.2
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.60.0
gpt4all==0.2.3
gpustat==1.1.1
gql==3.4.1
graphql-core==3.2.3
greenlet==2.0.2
grpcio==1.56.0
gunicorn==21.2.0
h11==0.14.0
h5py==3.9.0
hnswlib==0.7.0
httpcore==0.16.3
httplib2==0.14.0
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
IMAPClient==2.3.1
importlib-metadata==6.6.0
inflect==7.0.0
isodate==0.6.1
itsdangerous==2.1.2
jarowinkler==1.2.3
Jinja2==3.1.2
jmespath==0.9.4
joblib==1.2.0
jsonschema==4.17.3
keras==2.11.0
keyring==18.0.1
kiwisolver==1.4.5
langchain==0.0.177
langdetect==1.0.9
language-selector==0.1
lark-parser==0.12.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-imports==0.3.1
libclang==16.0.6
libvirt-python==6.1.0
lit==16.0.5
llama-cpp-python==0.1.50
llvmlite==0.40.1
lockfile==0.12.2
loguru==0.7.1
louis==3.12.0
lxml==4.9.2
lz4==4.3.2
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.2
mdurl==0.1.2
milvus-haystack==0.0.2
mlflow==2.6.0
monotonic==1.5
more-itertools==10.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.5
msoffcrypto-tool==5.0.1
msrest==0.7.1
multidict==6.0.4
mypy-extensions==1.0.0
netifaces==0.10.4
networkx==3.1
nltk==3.8.1
num2words==0.5.12
numba==0.57.1
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.535.108
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.1.0
olefile==0.46
oletools==0.60.1
onnx==1.12.0
onnxruntime==1.15.1
onnxruntime-tools==1.7.0
openai==0.27.8
openai-whisper==20230308
openapi-schema-pydantic==1.2.4
opencensus==0.11.2
opencensus-context==0.1.3
openpyxl==3.1.2
opensearch-py==2.3.1
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.1
pandas==1.5.3
pandoc==2.3
paramiko==2.6.0
pcodedmp==1.2.6
pdf2image==1.16.3
pdfminer.six==20221105
pexpect==4.6.0
Pillow==9.5.0
pinecone-client==2.2.2
platformdirs==3.10.0
plumbum==1.8.2
ply==3.11
posthog==3.0.1
prometheus-client==0.13.1
prompthub-py==4.0.0
protobuf==4.24.3
psutil==5.9.5
psycopg2-binary==2.9.7
py-cpuinfo==9.0.0
py-spy==0.3.14
py3nvml==0.2.7
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.16.2
pycparser==2.21
pycups==1.9.73
pydantic==1.10.8
pydeck==0.8.1b0
Pygments==2.15.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymilvus==2.3.0
Pympler==1.0.1
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
PyNaCl==1.3.0
pypandoc==1.11
pyparsing==2.4.7
PyPDF2==3.0.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-docx==0.8.11
python-dotenv==1.0.0
python-environ==0.4.54
python-frontmatter==1.0.0
python-magic==0.4.27
python-pptx==0.6.21
pytrec-eval==0.5
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.26
PyYAML==6.0
quantulum3==0.9.0
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
ray==1.13.0
rdflib==6.3.2
red-black-tree-mod==1.20
regex==2023.5.5
reportlab==3.5.34
requests==2.31.0
requests-cache==0.9.8
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rfc3986==1.5.0
rich==13.0.1
roman==2.0.0
rsa==4.0
RTFDE==0.0.2
s3transfer==0.6.2
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.10.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
selenium==4.12.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
seqeval==1.2.2
simplejson==3.16.0
sip==4.19.21
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==1.4.49
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
sseclient-py==1.8.0
ssh-import-id==5.10
starlette==0.27.0
streamlit==1.23.1
streamlit-agraph==0.0.45
sympy==1.12
systemd-python==234
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.33.0
tensorflow-text==2.11.0
termcolor==2.3.0
threadpoolctl==3.1.0
tika==2.6.0
tiktoken==0.4.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
transformers==4.32.1
trio==0.22.0
trio-websocket==0.10.3
triton==2.0.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
ujson==5.8.0
unattended-upgrades==0.1
unstructured==0.6.6
url-normalize==1.4.3
urllib3==1.26.16
usb-creator==0.3.7
uvicorn==0.16.0
uvloop==0.17.0
validators==0.20.0
virtualenv==20.24.4
wadllib==1.3.3
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
weaviate-client==3.23.2
websocket-client==1.6.2
websockets==11.0.3
Werkzeug==2.3.7
wikipedia==1.4.0
wrapt==1.14.1
wsproto==1.2.0
xkit==0.0.0
XlsxWriter==3.1.2
xmltodict==0.13.0
yarl==1.9.2
zipp==3.15.0
zstandard==0.21.0
